\#1_DOSSIER_TYPE
\#AUTRES
\#EVALUATION
\#Z_TP\TP_SUPPLEMENTAIRE\TRI_IMAGE\tri_image_basecode
*\#1_DOSSIER_TYPE

*.sln
*\.vs
*\x64
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*a.out
*.h.gch
*.exe

*\SDL2
*\SDL2_image
*\SDL2_mixer
*\SDL2_ttf
*\Assets

*.png
*.jpg
*.bmp
*.webp
*.wav
*.psd
